.header {
    font-family: 'Lora', serif;
    font-size: 80pt;
    text-align: center;
}

.searchTerm {
    border: 3px solid red;
    border-radius: 5px;
}

.searchButton {
    border: 10px solid red;
    border-radius: 5px;
}

.searchButton {
    background-image: url("search.png");
    background-color: red;
    background-repeat: no-repeat;
    background-position: 0px 0px;
}

.searchImg {
    background-color: red;
    width: 25px;
    height: 25px;
}