.header {
    font-family: 'Lora', serif;
    font-size: 80pt;
    text-align: center;
}

form {
    width: 40%;
    margin: 50px auto;
}

.searchTerm {
    padding:8px 15px;
    background:rgba(50, 50, 50, 0.2);
    border:0px solid #dbdbdb;
}

.searchButton {
    padding: 6px 15px;
    left: -8px;
    border: 2px solid red;
    background-color: red;
    color: white;
}

.searchButton:hover {
    background-color: white;
    color: red;
}