ul {
    list-style-type: none;
    padding: 1%;
}

.navbar li {
    border: 3px solid red;
    text-align: center;
}

.headerText {
    padding: 10px 0px;
}

a {
    text-decoration: none !important;
    color: black;
}

.stats {
    border: 5px solid red;
}

#profilePic {
    width: auto;
}

#personaName {
    padding-top: 5px;
}

.heroes li {
    border: 3px solid black;    
    padding-top: 9px;
}