/* c o r e s t u f f */
body {
    background-color: #2C4C5E;
}

ul {
    list-style-type: none;
    overflow: hidden;
}

a {
    text-decoration: none !important;
    color: black;
}

/* n a v b a r */

.header {
    margin-top: 10px;
    padding-left: 0;
    padding-right: 0;
}

.navbar {
    background-color: #67B4DE;
}

.headerItem:hover {
    background-color: #437691;
}

.headerText a {
    color: #000;
}

.active {
    background-color: #67B4DE;
}

/* u s e r i n f o */

.basicUserInfo {
    background-color: #A9CBDE;
}

#profilePic {
    width: auto;
}

/* h e r o s t a t t a b l e */

#heroContainer {
    background-color: #A9CBDE;
}

#heroTable {
    padding-left: 5%;
    padding-right: 5%;
}