/* c o r e s t u f f */
body {
    background-color: #2C4C5E;
}

ul {
    list-style-type: none;
    overflow: hidden;
}

a {
    text-decoration: none !important;
    color: black;
}

/* n a v b a r */

.header {
    margin-top: 10px;
    padding-left: 0;
    padding-right: 0;
}

.navbar {
    background-color: #67B4DE;
}


.headerText a:hover {
    color: white;
}

.active {
    color: white;
}

/* u s e r i n f o */

.basicUserInfo {
    background-color: #A9CBDE;
    padding: 1%;
}

#profilePic {
    width: auto;
}

/* h e r o s t a t t a b l e */

#heroContainer {
    background-color: #A9CBDE;
}

#heroTable {
    padding-left: 15%;
    padding-right: 7%;
}

.col-special {
    width: 19%;
    text-align: center;
}